.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 30px;
}

.head {
}
