.page {
  width: 1440px;
  background-color: #f6f6f6;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  width: 900px;
}

.head {
  padding-top: 100px;
}
